<center>
    <h1>DatatableTon</h1>
    ðŸ’¯ datatable exercises
    <br>
    <br>
    <a href='https://github.com/vopani/datatableton/blob/master/LICENSE'>
        <img src='https://img.shields.io/badge/license-Apache%202.0-blue.svg?logo=apache'>
    </a>
    <a href='https://github.com/vopani/datatableton'>
        <img src='https://img.shields.io/github/stars/vopani/datatableton?color=yellowgreen&logo=github'>
    </a>
    <a href='https://twitter.com/vopani'>
        <img src='https://img.shields.io/twitter/follow/vopani'>
    </a>
</center>

<center>
    This is Set 7: Multiple Frames (Exercises 61-70) of <b>DatatableTon</b>: <i>ðŸ’¯ datatable exercises</i>
    <br>
    You can find all the exercises and solutions on <a href="https://github.com/vopani/datatableton#exercises-">GitHub</a>
</center>

**Prerequisites**
* The `datatable` package should be upgraded to the latest version (or v1.0.0+).
* The sample dataset ___ will be used for the exercises.

In [54]:
# !python3 -m pip install -U pip
# !python3 -m pip install -U datatable

In [55]:
import datatable as dt

**Exercise 61: Read multiple CSV files from the `Data` folder at once; print the name of each file and then convert them into separate frames respectively**

In [56]:
DT_iterator = dt.iread('Data/*.csv')
data=list(DT_iterator)
for i in range(0, len(data)):
    print(data[i].source)

Data/people.csv
Data/orders_jan.csv
Data/orders_feb.csv
Data/returns.csv

In [57]:
people=data[0]
orders_jan=data[1]
orders_feb=data[2]
returns = data[3]

**Exercise 62: Display the `orders_jan` and `orders_feb` frames and create a new frame by appending rows of both these frames into a new frame called `orders_total`.**

In [58]:
orders_jan.head()

In [59]:
orders_feb.head()

In [60]:
orders_jan.rbind(orders_feb)
orders_total = orders_jan
orders_total

**Exercise 63: Display the `returns` frame and join it to the orders frame on the `Order ID` column and name the resultant frame as `orders`**

In [61]:
returns.head()

In [62]:
orders_total.key = "Order ID"
orders = returns[:, :, dt.join(orders_total)]
orders

**Exercise 64: Display the `people` frame and join it to the `orders` frame on the `Order ID` as well the `Month` column**

In [63]:
people

In [64]:
people.key = ["Order ID",'Month']
orders[:, :, dt.join(people)].head()

**Exercise 65: Read the `orders_jan` frame again and display all the categories sold in the month of January and February**

In [65]:
orders_jan=dt.fread("./Data/orders_jan.csv")

In [66]:
dt.union(orders_jan['Category'], orders_feb['Category'])

**Exercise 66: Which category of items is common to January as well as February?**

In [67]:
dt.intersect(orders_jan['Category'], orders_feb['Category'])

**Exercise 67: Which category of items is sold exclusively in January?**

In [68]:
dt.setdiff(orders_jan['Category'], orders_feb['Category'])

**Exercise 68: Which category of items is sold exclusively in February?**

In [69]:
dt.setdiff(orders_feb['Category'], orders_jan['Category'])

**Exercise 69: Which category of items were sold individually in either of the months but never together?**

In [70]:
dt.symdiff(orders_feb['Category'], orders_jan['Category'])

**Exercise 70: Calculate Net Sales by multiplying `Sales` and `Quantity` and applying the `Discount` and then append it to the `returns` frame**

In [71]:
orders_total['Net Sales'] = (dt.f.Sales * dt.f.Quantity) - dt.f.Discount
returns.cbind(orders_total['Net Sales'])
returns

<center>
    âœ… This completes Set 7: Grouping Methods (Exercises 51-60) of <b>DatatableTon</b>: <i>ðŸ’¯ datatable exercises</i>
    <br>
    Set 8 is coming soon!
    <br>
    <br>
    You can find all the exercises and solutions on <a href="https://github.com/vopani/datatableton#exercises-">GitHub</a>
</center>